
html { font-size:100.01%; }
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/*fb page*/
#fb-page {
  width: 520px;
  height: 500px;
  position: absolute;
}



/*page notfan*/
#fb-page #notfan {
  width: inherit;
  height: inherit; 
  background:#ffffff url('/public/images/bg-notfan.jpg') no-repeat left top;
}

/*page fan*/
#fb-page #fan {
  width: inherit;
  height: inherit; 
  background:#ffffff url('/public/images/bg-fan.jpg') no-repeat left top;
}
#fan #form {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 10px;
  width: 500px;
  height: 186px;
}
#form #userName {
  position: absolute;
  left: 75px;
  top: 20px;
}
#form #mailAddress {
  position: absolute;
  left: 75px;
  top: 80px;
}
#form #button {
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  left: 180px;
}

/*question page*/
#fb-page #question {
  width: inherit;
  height: inherit; 
  background:#ffffff url('/public/images/bg-question.jpg') no-repeat left top;
}

#question .button {
  position: absolute;
  cursor: pointer;
  width: 140px;
  height: 22px;
  bottom: 20px;
}
#question #answer-1 {
  left: 16px;
}
#question #answer-2 {
  left: 190px;
}
#question #answer-3 {
  left: 362px;
}

/*final page (answer)*/
#fb-page #answer {
  width: inherit;
  height: inherit; 
  background:#ffffff url('/public/images/bg-answer.jpg') no-repeat left top;
}

#answer .button {
  position: absolute;
  cursor: pointer;
  width: 140px;
  height: 22px;
  bottom: 20px;
}

#answer #btn_share {
  left: 92px;
}

#answer #btn_invite {
  left: 282px;
}


/*forms*/
input[type=text], input[type=password], input[type=url], input[type=email],
input.text, input.title,
textarea {
  width: 344px;
  padding:5px;
  font-size:2.3em;
  background-color:#fff;
  border:1px solid black;
}
input.hasError {
  border:2px solid red;
}

/* from placeholder plugin*/

[placeholder]{
	cursor:pointer;
	color:black;
	padding:5px;
	border:1px solid #999;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
[placeholder]:active,
[placeholder]:focus{
	cursor:text;
	color:#333;
	border:1px solid #0a0;
	
	-moz-box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
	-webkit-box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
	box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
}
/*
If the input has placeholder="" AND value="" darken its appearance to show it is pre-populated and not a form hint.
*/
[placeholder][value]{
	scolor:#333;
}
  

