#{extends 'main.html' /} 
#{set title:'Participate' /}
#{set moreScripts}
  <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"/>
  <script type="text/javascript" src="/public/javascripts/jquery.placeholder.js"/>
#{/set}

<div id="fan">
  #{form @Application.participate(), id:'form', class:'inline'} 
    #{field 'userName'}   
      <input class="title ${field.errorClass}" type="text" 
        id="${field.id}" name="${field.name}" placeholder="Name"/>
      
      #{ifErrors}
        #{errors}
          <span class="error">${error}</span>
        #{/errors}
      #{/ifErrors}
     
      <!-- 
      <div>
        <input type="submit" value="Teilnehmen">   
      </div>
       -->
    #{/}
    #{field 'mailAddress'} 
      <input class="title ${field.errorClass}" type="text" 
        id="${field.id}" name="${field.name}" placeholder="Email"/>
     
      <!-- 
      <div>
        <input type="submit" value="Teilnehmen">   
      </div>
       -->
    #{/} 
  #{/form}
</div>

