#{extends 'main.html' /} 
#{set title:'Participate' /}
#{set moreScripts}
  <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"/>
  <script type="text/javascript" src="/public/javascripts/jquery.placeholder.js"/>
#{/set}

#{form @Application.participate(), id:'userForm', class:'inline'} 
  #{field 'userMail'}   
    <p>
      <input class="title" type="text" id="${field.id}" name="${field.name}" placeholder="Email.."/>
      #{ifErrors}
        #{errors}
          <span class="error">${error}</span>
        #{/errors}
      #{/ifErrors}
    </p>
    <div>
      <input type="submit" value="Teilnehmen">   
    </div>
  #{/} 
#{/form}


