#{extends 'main.html' /} 
#{set title:'Participate' /}
#{set 'moreScripts'}
  <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js">
  </script>
  <script type="text/javascript" src="/public/javascripts/jquery.placeholder.js">
  </script>
#{/set}

<div id="fan">
  #{form @Application.participate(), id:'form', class:'inline'} 
    #{field 'userName'}   
      <input class="title ${field.errorClass}" type="text" 
        id="${field.id}" name="${field.name}" placeholder="Name"/>
    #{/}
    #{field 'mailAddress'} 
      <input class="title ${field.errorClass}" type="text" 
        id="${field.id}" name="${field.name}" placeholder="Email"/>
     
    #{/} 
    
      <img src="/public/images/btn-fan_win.jpg" 
        id="button"
        onclick="$('form').submit();"
        />
  #{/form}
</div>

