#{extends 'main.html' /} 
#{set title:'Thanks' /}
#{set 'moreScripts'}
  <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js">
  </script>
#{/set}

<script type="text/javascript">
function answer(selection) {
	
	$('#selection').val(selection);
	$('#form').submit();
	
	
}
</script>

<div id="question">
  <div class="button" id="answer-1" onclick="answer(1);"></div>
  <div class="button" id="answer-2" onclick="answer(2);"></div>
  <div class="button" id="answer-3" onclick="answer(3);"></div>
  
  #{form @Application.answer(), id:'form'} 
    #{field 'selection'}
      <!-- value will be set by javascript --> 
      <input type="hidden" id="${field.id}" name="${field.name}" value=""/>
    #{/} 
  #{/form}
  
</div>


